/* ==========================================================================
   Author's custom styles Mihai Starniciuc
   ========================================================================== */
@import "compass/css3";
@import "_fonts.scss";
@import "_functions.scss";
@import "_std.scss";
@import "_buttons.scss";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

body{
    font-family: $font-pt;
    background: -moz-linear-gradient(top, rgba(216,216,216,1) 0%, rgba(216,216,216,0) 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,216,216,1)), color-stop(50%,rgba(216,216,216,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(216,216,216,1) 0%,rgba(216,216,216,0) 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(216,216,216,1) 0%,rgba(216,216,216,0) 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(216,216,216,1) 0%,rgba(216,216,216,0) 50%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(216,216,216,1) 0%,rgba(216,216,216,0) 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#00d8d8d8',GradientType=0 ); /* IE6-9 */
}
.wrapper{
    background-image: url("../img/header-bg-line.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    .image-bg{
        background-image: url("../img/header-bg-image.png");
        background-repeat: no-repeat;
        background-position: center 0;
    }
}
header{
    ul.header-top-menu{
        @include clear-size();
        list-style: none;
        li{
            display: inline-block;
            a{
                display: block;
                padding: 2px 4px;
                color: #4d8441;
                font-size: 15px;
                &:hover{
                    text-decoration: none;
                    background: #91c342; /* Old browsers */
                    background: -moz-linear-gradient(top, #91c342 0%, #91c342 50%, #77a928 51%, #77a928 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91c342), color-stop(50%,#91c342), color-stop(51%,#77a928), color-stop(100%,#77a928)); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, #91c342 0%,#91c342 50%,#77a928 51%,#77a928 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, #91c342 0%,#91c342 50%,#77a928 51%,#77a928 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, #91c342 0%,#91c342 50%,#77a928 51%,#77a928 100%); /* IE10+ */
                    background: linear-gradient(to bottom, #91c342 0%,#91c342 50%,#77a928 51%,#77a928 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91c342', endColorstr='#77a928',GradientType=0 ); /* IE6-9 */
                    border-radius: 3px;
                    color: #FFFFFF;
                    span{
                        border: 0;
                    }
                }
                span{
                    border-bottom: 1px dashed #4d8441;
                }
            }
            .submenu-top{
                display: none;
                position: absolute;
                top: 25px;
                text-align: left;
                z-index: 10;
                padding-top:10px;
                background-image: url("../img/submenu-up-arrow.png");
                background-position:12px 3px;
                background-repeat: no-repeat;
                ul.submenu{
                    width: auto;
                    @include clear-size();
                    border: 0;
                    padding:5px 10px 10px;
                    @include border-radius(3px);
                    @include box-shadow(0, 5px, 8px 0, rgba(0, 0, 0, 0.23));
                    background: rgb(253,253,253); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(227,227,227,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,253,1)), color-stop(100%,rgba(227,227,227,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(227,227,227,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(227,227,227,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(227,227,227,1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom, rgba(253,253,253,1) 0%,rgba(227,227,227,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
                    li{
                        display: block;
                        width:100%;
                        float:none;
                        a{
                            display: block;
                            width: 100%;
                            line-height: 130%;
                            color: #508844;
                            font-size: 14px;
                            text-decoration: underline;
                            border:0;
                            box-shadow: none;
                            &:hover{
                                color: #dda104;
                                background: none;
                            }
                        }
                    }
                }
            }
            &:hover{
                .submenu-top{
                    display: block;
                }
            }
        }
    }
    .logo {
        a{
            display: block;
            height: 150px;
            line-height: 150px;
        }
        img{
            max-width: 100%;
        }
    }
    .head-section{
        padding-top: 15px;
        .search-side{
            position: relative;
            input[type="text"]{
                font-size: 13px;
                height: 28px;
            }
            button.search-btn{
                position: absolute;
                top: 1px;
                right: 0px;
                height: 26px;
                width: 26px;
                border:0;
                background: none;
                padding: 0;
                background-color: #f6b302;
                @include border-radius(3px);
                background-image: url("../img/btn-bg.png");
                @include background-size();
                span{
                    display: block;
                    height: 26px;
                    width: 26px;
                    background-image: url("../img/icon/search-icon.png");
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }
        .call-back-side{
            padding-top: 30px;
            p{
                @include clear-size();
                text-align:right;
                line-height:24px;
                a.number{
                    color: #4e8643;
                    font-size: 24px;
                    span{
                        color: #77a928;
                    }
                    &:hover{
                        text-decoration: none;
                    }
                }
                span.icon-call{
                    background-image: url("../img/call-bg.png");
                    background-repeat: no-repeat;
                    background-position: -23px 0;
                    padding: 6px 14px;
                    margin-right: 5px;
                }
            } 
            .button-call-side{
                padding-left:0;
                padding-top:1px;
                .image-arrow{
                    background-image: url("../img/call-bg.png");
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    width: 23px;
                    height: 50px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 3px;
                }                    
            }
        }            
    }
}
nav.navbar{
    margin-bottom: 15px;
    .navbar-sp{
        background-image: url("../img/menu-bg.png");
        background-repeat: no-repeat;
        background-repeat: repeat-x;
        @include background-size(auto, 100%);
        @include clear-size();
        padding: 1px;
        .navbar-collapse{
            @include clear-size();
        }  
        ul{
            width: 100%;
            @include clear-size();
            text-align: center;
            border-bottom:1px solid #7dbe71;
            li{
                display: block;
                float: left;
                @include clear-size();
                a{
                    color: #FFFFFF;
                    font-size: 18px;
                    padding: 0px 11px 0 10px;
                    line-height: 48px;
                    display: block;
                    border-right: 1px solid #528d48;
                    @include box-shadow(1px, 0, 0, 0, rgba(150, 227, 135, 0.36));
                    &:hover{
                        background-image: url("../img/menu-hover-bg.png");
                        background-repeat: no-repeat;
                        background-repeat: repeat-x;
                        @include background-size(auto, 100%);
                        text-decoration:none;
                    }
                }
                &:last-child a{
                    border:0;
                    box-shadow: none;
                    padding: 0 15px 0 14px;
                }
                ul.submenu{
                    display: none;
                    position: absolute;
                    top: 49px;
                    text-align: left;
                    width: auto;
                    z-index: 10;
                    @include clear-size();
                    border: 0;
                    padding: 10px 5px;
                    @include border-radius(3px);
                    @include box-shadow(0, 5px, 5px 0, rgba(0, 0, 0, 0.23));
                    background: rgb(253,253,253); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(227,227,227,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,253,1)), color-stop(100%,rgba(227,227,227,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(227,227,227,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(227,227,227,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(227,227,227,1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom, rgba(253,253,253,1) 0%,rgba(227,227,227,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
                    li{
                        display: block;
                        width:100%;
                        float:none;
                        a{
                            display: block;
                            width: 100%;
                            line-height: 30px;
                            color: #508844;
                            font-size: 14px;
                            text-decoration: underline;
                            border:0;
                            box-shadow: none;
                            &:hover{
                                color: #dda104;
                                background: none;
                            }
                        }
                    }
                }
                &:hover{
                    ul.submenu{
                        display: block;
                    }
                }
            }
        }
    } 
}
.slider-section{
    background-image:url("../img/slider/shadow.png");
    background-position: center bottom;
    padding-bottom:60px;
    background-repeat: no-repeat;
    .slider-block{
        background-image: url('../img/slider/bg.png');
        padding:10px;
        position:relative;
        .slide-item{
            padding-right: 65px;
            position:relative;
            img{
                width: 100%;
            }
            .text-block{
                position: absolute;
                width: 50%;
                height: 100%;
                background-color: #d7d7d7;
                padding: 20px;
                .inner{
                    position: relative;
                }
                h1{
                    color: #4a7e3f;
                    font-size: 72px;
                    @include clear-size();
                    font-family: $font-cuprum;
                    font-weight: bold;
                    span{
                        font-size: 60px;
                        font-weight: normal;
                        background-color: #8dba44;
                        color: #FFFFFF;
                        padding: 0 10px;
                    }

                }
                h2{
                    color: #a00404;
                    font-size: 36px;
                    text-transform: lowercase;
                    font-family: $font-cuprum;
                    text-align: center;
                    margin-bottom: 20px;
                    span{
                        text-transform: uppercase;
                    }
                }
                a.more{
                    color: #4a7e3f;
                    padding: 6px 15px;
                    border: 3px solid #60933f;
                    border-radius: 30px;
                    font-size: 18px;
                    font-family: $font-cuprum;

                }
                a.more:hover{
                    text-decoration: none;
                }
                a.open{
                    width: 55px;
                    height: 55px;
                    @include border-radius(50%);
                    background-color: #d7d7d7;
                    position: absolute;
                    right: -45px;
                    top: 50%;
                    margin-top: -30px;
                    display: block;
                    //@include box-shadow(6px, 6px, 6px 0, rgba(0,0,0,0.75));
                    background-image: url("../img/slider/arr-link.png");
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                &.animated{
                    margin-left: -50%;
                    @include transition(margin-left, 0.8s);
                }
                &.animated.open{
                    margin-left: 0;
                }
                &.animated.hover-open:hover{
                    margin-left: 0;
                }            
            }
        }
        .bx-wrapper{
            .bx-pager {
                position: absolute;
                top: 40%;
                right: 27px;
                text-align: center;
            } 
            .bx-pager.bx-default-pager a {
                background-color: #f7bb1e;
                text-indent: -9999px;
                display: block;
                width: 5px;
                height: 5px;
                border:5px solid transparent;
                margin: 10px 0;
                outline: 0;
                @include border-radius(50%);
                &:hover, &.active{
                    width: 12px;
                    height: 12px;
                    background: transparent;
                    border:1px solid #f7bb1e;
                }
            }
            .bx-controls-direction{
                a {
                    position: absolute;
                    top: 70%;
                    margin-top: -16px;
                    outline: 0;
                    width: 46px;
                    height: 46px;
                    text-indent: -9999px;
                    z-index: 9999;
                    &.bx-prev {
                        top: 30%;
                        right: 10px;
                        background: url(../img/slider/navigation.png) no-repeat 0 0px;
                    }
                    &.bx-next {
                        right: 10px;
                        background: url(../img/slider/navigation.png) no-repeat 0 -46px;
                    }
                }

            }
            .bx-controls-direction a.disabled {
                display: none;
            }
        } 
    }
}
main {
    h1.title{
        margin-top: 30px;
        font-size: 24px;
        color: #ffffff;
        font-family: $font-russo;
        text-shadow: 1px 1px 1px rgba(0, 0, 0 , 0.24);
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom:35px;
        span{
            background: #f8c233; /* Old browsers */
            background: -moz-linear-gradient(top, #f8c233 0%, #f8c233 50%, #dea819 51%, #dea819 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8c233), color-stop(50%,#f8c233), color-stop(51%,#dea819), color-stop(100%,#dea819)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #f8c233 0%,#f8c233 50%,#dea819 51%,#dea819 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #f8c233 0%,#f8c233 50%,#dea819 51%,#dea819 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #f8c233 0%,#f8c233 50%,#dea819 51%,#dea819 100%); /* IE10+ */
            background: linear-gradient(to bottom, #f8c233 0%,#f8c233 50%,#dea819 51%,#dea819 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8c233', endColorstr='#dea819',GradientType=0 ); /* IE6-9 */
            padding:8px 20px;
        }
        &.full-width{
            margin: 15px 0;
            span{
                display: block;
                width: 100%;
            }
        }
    }
    .home-product{
        background-color: #FFFFFF;
    }
    .shadow-product{
        background: url("../img/product-shadow.png") no-repeat 0 bottom;
        background-size: 100% auto;
        padding-bottom: 15px;
        margin-bottom:20px;
    }
    .product-block{
        border:1px solid #dadada;
        height: 385px;
        background-color: #FFFFFF;
        .image-side{
            height: 180px;
            overflow: hidden;
            position:relative;
            img{
                width: 100%;
            }
            .zoom-image{
                background-color: rgba(248, 194, 51, 0.35);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                z-index: 1;
            }
            a.zoom{
                width: 37px;
                height: 37px;
                display: none;
                position: absolute;
                right: 10px;
                bottom: 10px;
                z-index: 3;
                background-image: url('../img/icon/zoom.png');
            }
        }
        .title{
            height: 65px;
            background: #548949; /* Old browsers */
            background: -moz-linear-gradient(top, #548949 0%, #4a7f3f 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#548949), color-stop(100%,#4a7f3f)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #548949 0%,#4a7f3f 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #548949 0%,#4a7f3f 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #548949 0%,#4a7f3f 100%); /* IE10+ */
            background: linear-gradient(to bottom, #548949 0%,#4a7f3f 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#548949', endColorstr='#4a7f3f',GradientType=0 ); /* IE6-9 */
            .middle{
                vertical-align: middle;
                height: 60px;
                display: inline-block;
            }
            span{
                color: #FFFFFF;
                text-decoration: underline;
                font-family: $font-raleway;
                font-size: 15px;
                padding-left: 15px;
            }
        }
        .description{
            padding: 15px;
            p{
                font-size: 14px;
                color: #2f2f2f;
                font-family: $font-raleway;
                @include clear-size();
                span{
                    color:#9d9d9d;
                }
            }
        }
        &:hover{
            cursor: pointer;
            @include box-shadow(0, 0, 27px, 0, rgba(0, 0, 0,0.3));
            .zoom-image{
                display: block;
            }
            a.zoom{
                display: block;
            }
        }
    }
    .reson{
        background: url("../img/icon/reson.png") no-repeat center top;
        text-align: center;
        padding: 200px 15px 0 30px;        
        a{
            color: #87b32f;
            font-size: 20px;
            font-family: $font-raleway;
            text-transform: uppercase;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .information-section{
        margin-top: 20px;
        background: url("../img/info-bg.png") repeat 0 0;
        .prorab{
            background: url("../img/prorab.png") no-repeat 0 center;
            padding-bottom: 15px;
        }
        h1{
            color: #dea819;
            font-size: 30px;
            font-family: $font-russo;
            padding-left: 0;
            text-transform: uppercase;
            margin-bottom: 35px;
        }
        .info-block{
            .image-side{
                @include box-shadow(0, 0, 5px, 0, rgba(0, 0, 0, 0.27));
                padding: 10px;
                border: 1px solid #e8e8e8;
                background-color: #f0f0f0;
                margin-bottom: 5px;
                .gradient{
                    background: -moz-linear-gradient(top, rgba(0,0,0,0.07) 0%, rgba(254,254,254,0.07) 70%, rgba(1,1,1,0.07) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.07)), color-stop(70%,rgba(254,254,254,0.07)), color-stop(100%,rgba(1,1,1,0.07))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, rgba(0,0,0,0.07) 0%,rgba(254,254,254,0.07) 70%,rgba(1,1,1,0.07) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, rgba(0,0,0,0.07) 0%,rgba(254,254,254,0.07) 70%,rgba(1,1,1,0.07) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, rgba(0,0,0,0.07) 0%,rgba(254,254,254,0.07) 70%,rgba(1,1,1,0.07) 100%); /* IE10+ */
                    background: linear-gradient(to bottom, rgba(0,0,0,0.07) 0%,rgba(254,254,254,0.07) 70%,rgba(1,1,1,0.07) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12000000', endColorstr='#12010101',GradientType=0 ); /* IE6-9 */
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .title{
                background-color: #8dba44;
                padding-left: 10px;
                padding-right: 10px;
                height: 45px;
                line-height: 16px;
                color: #FFFFFF;
                font-family: $font-raleway;
                font-size: 16px;
                margin-bottom: 5px;
                .middle{
                    height: 45px;
                    vertical-align: middle;
                    display: inline-block;
                }
                span{
                    vertical-align: middle;
                    display: inline-block;
                }
            }
            p{
                color: #383838;
                font-size: 14px;
                font-family: $font-raleway;
            }
        }
    }
    .about{
        background-color: #FFFFFF;
        .company{
            p{
                font-size: 15px;
                color: #454545;
                margin-bottom: 25px;
            }
            .image-side{
                float: left;
                margin-right: 30px;
                margin-bottom: 15px;
            }
        }
        .hot-news{
            h2{
                color: #dea819;
                font-family: $font-russo;
                font-size: 24px;
                text-transform: uppercase;
            }
            ul{
                @include clear-size();
                list-style: none;
                padding-top:20px;
                li{
                    display: block;
                    margin-bottom: 15px;
                    .news{
                        font-family: $font-raleway;
                        .title{
                            background-color: #8dba44;
                            font-size: 14px;
                            color:#FFFFFF;
                            padding: 5px 15px;
                        }
                        .date{
                            color: #73a326;
                            font-size: 13px;
                            padding: 5px;
                        }
                        p{
                            color: #383838;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    .bg-white{
        background-color: #FFF;
    }
    .text-content{
        .image-side{
            @include box-shadow(0, 0, 5px, 0, rgba(0, 0, 0, 0.27));
            padding: 10px;
            border: 1px solid #e8e8e8;
            background-color: #f0f0f0;
            margin-bottom: 5px;
            float: left;
            max-width: 320px; 
            margin-right: 15px;

            .gradient{
                background: -moz-linear-gradient(top, rgba(0,0,0,0.07) 0%, rgba(254,254,254,0.07) 70%, rgba(1,1,1,0.07) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.07)), color-stop(70%,rgba(254,254,254,0.07)), color-stop(100%,rgba(1,1,1,0.07))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, rgba(0,0,0,0.07) 0%,rgba(254,254,254,0.07) 70%,rgba(1,1,1,0.07) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, rgba(0,0,0,0.07) 0%,rgba(254,254,254,0.07) 70%,rgba(1,1,1,0.07) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, rgba(0,0,0,0.07) 0%,rgba(254,254,254,0.07) 70%,rgba(1,1,1,0.07) 100%); /* IE10+ */
                background: linear-gradient(to bottom, rgba(0,0,0,0.07) 0%,rgba(254,254,254,0.07) 70%,rgba(1,1,1,0.07) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12000000', endColorstr='#12010101',GradientType=0 ); /* IE6-9 */
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        p{
            font-size: 14px;
            font-family: $font-raleway;
            color: #383838;
        }
    }
    ul.breadcrumb.sp-style{
        border-radius: 0;
        background: none;
        padding: 10px 0 0;
        li{
            color: #383838;
            font-size: 14px;
            font-family: $font-raleway;
            background: url("../img/breadcumb.png") no-repeat 0px center;
            padding-left: 15px; 
            padding-right: 10px;

            a{
                color: #383838;                
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                }
            }
            &:before{
                content: " ";
                padding: 0;
            }
        }
    }
    .share{
        height: 35px;
        background: rgb(241,241,241); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(241,241,241,1) 50%, rgba(233,233,233,1) 51%, rgba(233,233,233,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,241,241,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(233,233,233,1)), color-stop(100%,rgba(233,233,233,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(241,241,241,1) 0%,rgba(241,241,241,1) 50%,rgba(233,233,233,1) 51%,rgba(233,233,233,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(241,241,241,1) 0%,rgba(241,241,241,1) 50%,rgba(233,233,233,1) 51%,rgba(233,233,233,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(241,241,241,1) 0%,rgba(241,241,241,1) 50%,rgba(233,233,233,1) 51%,rgba(233,233,233,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(241,241,241,1) 0%,rgba(241,241,241,1) 50%,rgba(233,233,233,1) 51%,rgba(233,233,233,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
        padding: 0px 15px;
        ul{
            @include clear-size();
            list-style: none;
            li{
                line-height: 35px;
                float: left;
                font-size: 16px;
                color: #f7bb1c;
                font-weight: bold;
                text-transform: uppercase;
                text-shadow: 1px 1px 1px #FFFFFF;
                margin-right: 15px;
                height: 35px;

                a.icon{
                    display: block;
                    background: url("../img/icon/social.png") no-repeat 0 center;
                    width: 12px;
                    height: 35px;
                    @include transition(opacity, 0.4s);
                    &.tw{
                        background-position: -14px center;
                        width: 20px;
                    }
                    &.od{
                        background-position: -34px center;
                        width: 11px;
                    }
                    &.vk{
                        background-position: -45px center;
                        width: 15px;
                    }
                    &:hover{
                        @include opacity(0.7);
                    }
                }
            }
        }
    }
    .date{
        color: #73a326;
        font-size: 13px;
        padding: 5px;
    } 
    .list-side{
        padding-top: 15px;
        h5{
            font-family: $font-raleway;
        }
    }
    .banner{
        width: 100%;
        img{
            img{
                width: 100%;
            }
        }
    }
    .padding-top{
        padding-top: 15px;
    }
    .name-filter{
        color: #FFFFFF;
        background-color: #8dba44;
        font-size: 16px;
        font-family: $font-raleway;
        padding: 4px 10px;
        margin: 3px 0;
    }
    .filter{
        .checkbox-sp{
            margin-left: 10px;
        }
    }
    .news-list{
        .news-item{
            border: 1px solid #dadada;
            padding: 10px;
            position:relative;    
            @include box-shadow(0, 3px, 5px, rgba(0, 0, 0, 0.1));
            margin-bottom: 10px;
            .image-side{
                width: 230px;
                img{
                    border: 1px solid transparent;
                    @include transition(all, 0.35s);
                }
                &:hover img{
                    border: 1px solid #dda104;
                }
            }
            a{
                color: #518b46;
                font-size: 18px;
                font-family: $font-raleway;
                @include transition(color, 0.35s);
                text-decoration: underline;
                &:hover{
                    color: #dda104;
                }
            }
        }
    }
    .pagination{
        margin:15px auto;
        border: 0;
        background: none;

        li{
            border: 0;
            background: none;

            a{
                border: 0;
                background: none;
                border-radius: 0;
                font-size: 18px;
                color: #dda104;
                text-decoration: underline;
                height: 27px;
                line-height: 27px;
                display: block;
                padding: 0px 10px;
                &:hover{
                    background: none;
                    text-decoration: none;
                    font-weight: bold;
                    color: #dda104;
                }
                &.next, &.prev{
                    display: block;
                    background: url("../img/icon/navigation.png") no-repeat 0 center;
                    width: 27px;
                    height: 27px;
                }
                &.next{
                    background-position: -30px center;
                }
            }
            &.active{
                a{
                    background: none;
                    text-decoration: none;
                    font-weight: bold;
                    color: #dda104;
                    &:hover, &:focus, &:active{
                        background: none;
                        text-decoration: none;
                        font-weight: bold;
                        color: #dda104;
                    }
                }
            }

        }
    }
    .query-list{
        .query-item{
            border: 1px solid #dadada;
            margin-bottom: 25px;
            @include box-shadow(0, 10px, 10px, rgba(0, 0, 0, 0.1));

            .name{
                height: 30px;
                .name-text{
                    min-width: 200px;
                    background-color: #548949;
                    color: #FFFFFF;
                    font-size: 16px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-family: $font-raleway;
                    float: left;
                    margin-right: 20px;

                }
                .date{
                    color: #548949;
                }
            }
            .text{
                padding: 10px;
                font-size: 15px;
                color: #454545;
                span{
                    color: #518b46;
                }
            }
            .answer{
                background-color: #d7d7d7;
                position: relative;
                p{
                    color: #000000;
                    padding: 10px;
                    font-size: 15px;
                    font-family: $font-pt;
                    span{
                        color: #518b46;
                    }
                }
                a.open-collapse{
                    display: block;
                    padding: 8px 25px;
                    color: #a00404;
                    font-size: 15px;
                    font-family: $font-pt;
                    text-align: right;
                    position: relative;
                    text-decoration: none;

                    span{
                        position: absolute;
                        top: -28px;
                        right: 38px;
                        width: 54px;
                        height: 35px;
                        background-image: url("../img/icon/close-collapse.png");
                        background-repeat: no-repeat;
                        @include transition(all, 0.4s);
                    }


                    &.open{
                        span{
                            top: auto;
                            bottom: -28px;
                            background-image: url("../img/icon/open-collapse.png");
                        }
                    }

                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .image-shadow{
        margin-top: 10px;
        padding-bottom: 20px;
        background: url("../img/shadow.png") no-repeat 0 bottom;
        background-size: 100% auto;
    }
    .image-product{
        background: #FFFFFF;
        border: 1px solid #dadada;
        @include box-shadow(0, 0, 8px, rgba(0, 0, 0, 0.3));
        padding: 10px;
        position: relative;
        img{
            width: 100%;
        }
        a.zoom{
            width: 37px;
            height: 37px;
            display: block;
            position: absolute;
            right: 20px;
            bottom: 20px;
            z-index: 3;
            background-image: url('../img/icon/zoom.png');
        }
    }
    .button-icon{
        padding-left: 91px;
        height: 96px;
        background: url("../img/send-order-icon.png") no-repeat 0 center;

    }

}
.form-group.two{
    input{
        width: 49%;			
        &:first-child{
            margin-right: 2%;
            float: left;
        }
    }
}
.form-side{
    @include box-shadow(0, 0, 16px, rgba(0, 0, 0, 0.19));
    .body{
        padding: 15px 40px;
    }
    input.form-control,
    textarea.form-control{
        border-color:#a9b98f;
        color: #3e3e3e;
        font-size: 13px;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    #3e3e3e;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #3e3e3e;
        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #3e3e3e;
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #3e3e3e;
    }
    .capchea{
        height: 35px;
        width: 100%;
        text-align: center;
        font-size: 18px;
        color: #3e3e3e;
        background-color: #f1f1f1;
        line-height: 35px;
        display: block;
        @include border-radius(3px);
    }
    p{
        color: #8dbd40;
        font-size: 13px;
    }
    .footer{
        background-color: #8dbd40;
        padding: 20px;
    }
}
.modal-content{
    @include border-radius(0);
    position: relative;
    button.close{
        @include opacity(1);
        color: #ff0000;
        font-weight: normal;
        margin-right: 10px;
        top: 10px;
    }
}
footer{
    @include box-shadow(0, 0, 29px, 0, rgba(0, 0, 0, 0.41));
    background: rgb(153,196,83); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(153,196,83,1) 0%, rgba(127,170,57,1) 50%, rgba(127,170,57,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,196,83,1)), color-stop(50%,rgba(127,170,57,1)), color-stop(100%,rgba(127,170,57,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(153,196,83,1) 0%,rgba(127,170,57,1) 50%,rgba(127,170,57,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(153,196,83,1) 0%,rgba(127,170,57,1) 50%,rgba(127,170,57,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(153,196,83,1) 0%,rgba(127,170,57,1) 50%,rgba(127,170,57,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(153,196,83,1) 0%,rgba(127,170,57,1) 50%,rgba(127,170,57,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99c453', endColorstr='#7faa39',GradientType=0 ); /* IE6-9 */
    margin-top: 50px;
    .telephone{
        text-align: right;
        .number-side{
            display: inline-block;
            padding-top:20px;
            margin-right:20px;
            p{
                @include clear-size();
            }
            a{
                color:#bbf461;
                font-size: 24px;
                &:hover{
                    text-decoration: none;
                }
                span{
                    color: #4d8341;
                }
            }
            .icon-call{
                height: 30px;
                width: 30px;
                float: left;
                margin-top: 2px;
                margin-right: 10px;
                background: url("../img/icon/footer.png") no-repeat -165px -45px;
            }
        }
        .logo-footer{
            width: 110px;
            height: 110px;
            background: url("../img/icon/footer.png") no-repeat 0 0;
        }
    }
    strong{
        color: #4e8643;
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 14px;
    }
    .adress{
        padding-top:30px;
        p{
            font-family: Arial, sans-serif;
            color: #FFFFFF;
            @include clear-size();
        }
    }
    .email{
        @extend .adress;
        a{
            color: #FFFFFF;
        }
    }
    .work{
        @extend .adress;
        p{
            span{
                color: #4e8643;
            }
        }
    }
    .icon{
        background: url("../img/icon/footer.png") no-repeat 0 0;
        float: left;
        width: 45px;
        height: 40px;
        &.home{
            background-position: -114px 0;
        }
        &.mail{
            background-position: -114px -40px;
        }
        &.cog{
            background-position: -160px -0px;
        }
    }
    .last-section{
        border-top: 1px solid #709533;
        @include box-shadow(0, 1px, 0, rgba(255,255,255, 0.15), inset);
        p{
            line-height: 35px;
            color: #b7e66c;
            font-size: 14px;
        }
    }
}
//Responsiv
@media screen and (max-width: 1200px) {
    header .head-section .call-back-side p a.number{
        font-size: 21px;
    }
    nav.navbar .navbar-sp ul li a{
        font-size: 16px;
        padding: 0 5px;
    }
    .slider-section .slider-block .slide-item .text-block h1{
        font-size: 45px;
    }
    main .product-block .image-side{
        height: auto;
    }
    main .reson{
        background-size: 84% auto;
    }
    main .information-section .prorab{
        background-size: auto 70%;
    }
}
@media screen and (max-width: 992px) {
    header .head-section .call-back-side p span.icon-call{
        display: none;
    }
    header .head-section .call-back-side p a.number{
        font-size: 17px;
    }
    header ul.header-top-menu li a{
        font-size: 13px;
        padding: 2px;
    }
    header ul.header-top-menu{
        margin-bottom: 15px;
    }
    header .head-section .call-back-side{
        padding-top: 10px;
    }
    nav.navbar .navbar-sp ul li:last-child a{
        padding: 0 2px;
    }
    nav.navbar .navbar-sp ul li a{
        padding: 0 2px;
        font-size: 13px;
    }
    .slider-section{
        background: none;
    }
    .slider-section .slider-block .slide-item .text-block{
        display: none;
    }
    main .reson{
        padding-top: 135px;
    }
    main .reson a{
        font-size: 15px;
    }
    main .information-section .prorab{
        background: none;
    }
    footer .telephone .number-side a{
        font-size: 18px;
    }
}
@media(max-width:768px){
    .slider-section{
        display: none;
    }
    main .product-block .image-side{
        height: 180px;
    }
    footer .telephone{
        text-align: left;
    }
    header{
        display: none;
    }
    nav.navbar .navbar-sp{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
    }
    nav.navbar .navbar-sp ul li{
        width: 100%;
        float: none;
        text-align: center;
    }
    nav.navbar .navbar-sp ul li a{
        font-size: 16px;
        line-height: 25px;
    }
    nav.navbar .navbar-sp ul li ul.submenu{
        display: block;
        position: relative;
        background: none;
        box-shadow: none;
        top: 0;
        padding: 0;
        background-color: #dea819;
    }
    nav.navbar .navbar-sp ul li ul.submenu li a{
        font-size: 13px;
        color: #FFFFFF;
    }
    .navbar-toggle{
        padding: 0;
        i{
            color: #FFFFFF;
            font-size: 20px;
        }  
    } 
    .call-mobile{
        margin-right: 20px;
        color: #FFFFFF;
        font-size: 25px;
        padding-top: 3px;
    }
}